<!-- Button to Open the Modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#profile" style="position:fixed;bottom:5%;right:2%;">
    <i class="bi bi-person-circle"></i> Profile
</button>
  
  <!-- The Modal -->
  <div class="modal fade" id="profile">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Profile</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <form class="d-flex" method="GET" action="/logout">
            <button type="submit" class="btn btn-danger" onclick="return confirm('Are You Sure?')">Logout</button>
          </form>
        </div>
  
      </div>
    </div>
  </div>