<div class="row justify-content-center mt-5">
    <div class="col-5">
      <a href="/submit">
        <div class="card" style="width: 25rem;">
          <img src="https://failfaire.org/wp-content/uploads/2020/09/Pengertian-Seni.jpg" height="200px" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Submit Ticket</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-5 mb-5">
      <a href="/ticket">
      <div class="card" style="width: 25rem;">
        <img src="https://i2.wp.com/www.nesabamedia.com/wp-content/uploads/2019/05/abstract-6.jpg?resize=680%2C350&ssl=1" height="200px" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lihat Ticket</h5>
        </div>
      </div>
    </a>
    </div>
</div>