<div class="row mt-5">
    <% if (error.length > 0) { %>
        <div class="row mt-5">
          <div class="alert alert-danger alert-dismissible">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <%= error %>.
          </div>
        </div>
        <% } %>
    <div class="col-6">
        <h1>Submit Ticket</h1>
        <form method="POST" action="/ticket">
            <div class="mb-3">
                <label for="name" class="form-label">Subject</label>
                <div class="row">
                    <input type="text" class="form-control" placeholder="Subject" name="subject" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Keterangan</label>
                <div class="row">
                    <textarea class="form-control" style="width: 35rem;" placeholder="Keterangan" name="keterangan" rows="3" required></textarea>
                </div>
            </div>
            <input type="hidden" name="idUser" value="<%= idUser %>">
            <button type="submit" class="btn btn-primary mb-3">Register</button>
            </form>
    </div>
</div>