<div class="row justify-content-center mt-5">
    <div class="col-5 mb-5">
      <a href="/petugas/ticket">
      <div class="card" style="width: 20rem;">
        <img src="https://wallpaperaccess.com/full/193201.jpg" height="200px" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ticket Masuk</h5>
        </div>
      </div>
    </a>
    </div>
    <div class="col-5 mb-5">
      <a href="/petugas/ticket/approved">
      <div class="card" style="width: 20rem;">
        <img src="https://wallpaperaccess.com/full/193201.jpg" height="200px" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ticket Saya</h5>
        </div>
      </div>
    </a>
    </div>
</div>